/*-----------------------------------*/
/*Formatting and box sizing*/
html, body{
    box-sizing: border-box;
    background-color: #FFD89A ;
}
/*Headings*/
h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
h2, h3{
    font-style: italic;
}
/*text and links*/
p, a, span {
    font-family: Verdana, Geneva, sans-serif;
    
}
/*h2 quick links links*/
a > h2{
    font-style: italic;
    color: white;
    text-shadow: grey 1px 1px 1px;
}
/*link hover*/
a:hover{
    text-decoration: none;
    color: darkgrey;
    text-shadow: grey 1px 1px 1px;
}
/*caption text for div images*/
.caption-text{
    font-size: 8px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}
/*form input styling*/
input[value]{
color: rgb(190, 197, 204);
}

/*--------------------------------------------*/
/*scroll bars*/
::-webkit-scrollbar {
    width: 20px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #FFD89A; 
  }
/*--------------------------------------------*/
/*Main Navigation bar*/
.nav{
    width: 99.9vw;
    background-color: white;
    margin-left: -1vw;
    border-bottom:solid 1px rgb(227, 227, 227);
}

/*button for quick email*/
.email-btn{
    background-color: #9DC5F6;
}
.email-btn:hover{
    background-color:rgb(227, 227, 243);  
}

/*Logo container*/
.logo-container{
    width: 200px;
    float: left;
    margin: 10px 300px 0px 10px;
    clear: left;
}
/*navigation main - logo*/
.nav-logo{
 width: 100%;
 padding: 10px;
}

/*phone and email quick links*/
.logo-container> .btn, .logo-container > .tel-link{
    margin: 0px 20px 0px 20px;
    font-size: 10px;
}

/*navigation links*/
.nav > li {
    font-size: 15px;
    padding-top: 22px;
    margin: 30px auto 30px 30px;
}
ul > li > a{
    border-radius: 5px;
}

/*font-awesome icons for social media*/
.fa{
    font-size: 20px;;
}
.fa-facebook{
    color:  #9DC5F6;
}
.fa-twitter{
    color: rgb(227, 227, 243);
}
.fa-instagram{
    color:#9DC5F6;
}
/*--------------------------------------------*/
/*hero*/
.hero-image{
    padding: 0px;
    margin-top: 100px;
    width: 100%;
    
    background-image: url(_images/howth_landing.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
/*main text on hero shot*/
#hero-lead{
    position: relative;
    color: white;
    font-size: 6em;
    font-style: italic;
    margin: 600px auto auto 200px;
    animation-name: move-text;
    animation-duration: 4s;
}
/*animation for main text on hero shot*/
@keyframes move-text{
    from{margin: 600px auto auto 5px;}
    to{margin: 600px auto auto 200px;}
}
/*--------------------------------------------*/
/*style for main content container on home page*/
.mid-home{
    background-color: #9DC5F6;
}

/*quicklinks and aerial map container positioning*/
.qk-link-container, .news-container, .aerial-map-container{
    margin: 100px auto 200px auto;
}
.qk-link-container > div > h2, .news-container > div > h2, .aerial-map-container > div > h2 {
    color: white;
    text-shadow: black 1px 1px 1px;
}
/*quick link images*/
.image-quick{
    height: 250px;  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*hover actions for quick links*/
.qk-link-container > div > a > .image-quick:hover, .section-article-image:hover{
    filter:opacity(.6)
}
.cancel-hover:hover {
    filter:opacity(1)
}
/*--------------------------------------------*/
/*icons for quick links*/
.hist-bg{
    background-image: url(_images/history.png);
}
.activities-bg{
    background-image: url(_images/activites.png);
}
.accom-bg{
    background-image: url(_images/accommodation.png);
}

/*--------------------------------------------*/
/*news and google maps*/
.news-bg{
    background-image: url(_images/howth_news.jpg);
    border-radius: 10px 10px 0px 0px ;
}
.news-article{
    background-color: white;
    text-align:justify;
    padding: 20px;
    height: 280px;
    border-radius: 0px 0px 10px 10px;
    overflow: auto;
}
iframe{
    border-radius: 10px;;
}

/*--------------------------------------------*/

/*aerial map*/
.aerial-bg{
    height: 850px;
    background-image: url(_images/howth_aerial.jpg);
    border: solid 1px rgb(227, 227, 243) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.aerial-info-container{
    background-color: white;
    padding: 10px;
}
.aerial-info-container > div > span {
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    display: block;
    margin: 30px auto 10px auto;
    font-size: 2em;
    color: lightskyblue;
    text-shadow: 1px 1px 1px lightslategrey;
}


/*animate aerial map info menu*/
.aerial-info-container > div > span:hover {
    
    text-shadow: grey 1px 1px 1px; 
    color: #FFD89A; ;
    cursor: pointer;
    animation-name:  mapinfo;
    animation-duration: .8s;
  }
  
  @keyframes mapinfo {
    from { color: white}
    to { color: #FFD89A; ;}
  }

#aerial-text-container{
    border: solid 1px #FFD89A; ;
    border-radius: 10px;
    margin-top: 20px;
    height: 400px;
    overflow: auto;
    text-align: justify;
}
/*--------------------------------------------*/


/*footer*/
.footer-container{
    height: 130px;
    background-color: #FF9C00 ;
    color: white;
    text-shadow: grey 1px 1px 1px;
}
/*Site navigation*/
.site-nav{
    text-align: center;
}
.site-nav > a{ 
    margin: 5px;
    font-size: 10px;
    color: rgba(248, 242, 163, 0.692);
}
.site-nav > h6{
    margin-top: 53px;;
}

.site-nav > ul, .site-nav > h6 { 
    
    text-align: center;
    list-style-type: none;
}

/*copyright*/
.copyright{
    margin-top: 50px;
}
.copyright > li > a{
    color: rgba(248, 242, 163, 0.692);
}

/*social media*/
.foot-soc{
    margin-top: 50px;
    text-align: center;
}
.foot-soc > a > i{
    padding: 10px;
}
.foot-soc > .btn{

}
/*--------------------------------------------*/

/*Override bootstrap class*/
.page-header {
    border: none;
    font-style: italic;
}
/*--------------------------------------------*/
/*page sections styling*/
/*position sections and set margins*/
.page-section{
    margin-bottom: 100px;
    padding-bottom: 50px;
    background-color:  #9DC5F6;
    text-decoration: none!important;
}
/*set margin and for header*/
.page-header-container{
    margin-top: 150px;
    color: white;
    text-shadow: grey 1px 1px 1px;
    background-color: #9DC5F6;
}
/*set margin and styles for section header container*/
.section-header-container{
    padding: 10px;
    color: white;
    text-shadow: grey 1px 1px 1px;
    background-color: #9DC5F6;
}
/* style headers*/
.section-header{
    margin-top: 100px;
    padding: 0px;
    color: white;
    text-shadow: grey 1px 1px 1px;
    background-color: #9DC5F6;
}
/*margin and styles for images in sections*/
.section-article-image{
    height: 150px;
    margin: 0px auto 0px auto;
    border: solid 1px rgb(227, 227, 243) ;
    background-color: green;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*margin and styles for text in sections*/
.section-article-text{
    border-radius: 10px;
    text-align: justify;
    background-color:white;
    margin: 10px auto 10px auto;
    height: 470px;
    padding: 30px;
    overflow: auto;
}

/*--------------------------------------------*/
/*contact page*/
.form-input-row{
    margin: 10px;
}
/*set width for inputs on forms*/
input[type=text], input[type=email]{
    width: 375px;
}
label{
    font-style: italic;
    color: #FF9C00 ;
}
/*--------------------------------------------*/

/*image div for pages*/
/*About page images*/
#about-howth-img1{
    background-image: url(_images/howth_about_1.jpg);    
}
#about-howth-img2{
    background-image: url(_images/howth_about_2.jpg); 
}
#about-howth-img3{
    background-image: url(_images/howth_about_3.jpg); 
}
#about-howth-img4{
    background-image: url(_images/marketing_team_1.jpeg); 
}
#about-howth-img5{
    background-image: url(_images/marketing_team_2.jpg); 
}
#about-howth-img6{
    background-image: url(_images/marketing_team_3.jfif); 
}

/*tourism page images*/

#tour-img1{
    background-image: url(_images/howth_tourism_1.jpg);    
}
#tour-img2{
    background-image: url(_images/howth_tourism_2.jfif); 
}
#tour-img3{
    background-image: url(_images/howth_tourism_3.jpg); 
}
#tour-img4{
    background-image: url(_images/howth_king_sitric.jpg); 
}
#tour-img5{
    background-image: url(_images/howth_tara_hall.jpg); 
}
#tour-img6{
    background-image: url(_images/howth_the_georgian_rooms.jpg); 
}

/*Atractions page images*/
#attraction-img1{
    background-image: url(_images/howth_aqua_eat.jpg);    
}
#attraction-img2{
    background-image: url(_images/howth_beshoff_eat.jpg); 
}
#attraction-img3{
    background-image: url(_images/howth_brassmonkey_eat.jpg); 
}
#attraction-img4{
    background-image: url(_images/howth_bay_walks.jpg); 
}
#attraction-img5{
    background-image: url(_images/howth_docks_walks.jpg); 
}
#attraction-img6{
    background-image: url(_images/howth_head_cliffs_walks.jpg); 
}
#attraction-img7{
    background-image: url(_images/howth_sites_howth_castle.jpg);    
}
#attraction-img8{
    background-image: url(_images/howth_sites_market.jfif); 
}
#attraction-img9{
    background-image: url(_images/howth_sites_saint_marys_abbey.jpg); 
}
#attraction-img10{
    background-image: url(_images/howth_transport_airport.jpg); 
}
#attraction-img11{
    background-image: url(_images/howth_transport_bus.jpg); 
}
#attraction-img12{
    background-image: url(_images/howth_transport_dart.jpeg); 
}

/*contact*/
#contact-img1{
    background-image: url(_images/howth_contact_1.jpg); 
}
#contact-img2{
    background-image: url(_images/howth_contact_2.jpg); 
}
#contact-img3{
    background-image: url(_images/howth_contact_3.jpg); 
}
#contact-img4{
    background-image: url(_images/howth_contact_4.jpg); 
}
#contact-img5{
    background-image: url(_images/howth_contact_5.jpg); 
}
#contact-img6{
    background-image: url(_images/howth_contact_6.jpg); 
}

#bookingsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #bookingsTable td, #bookingsTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #bookingsTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #bookingsTable tr:hover {background-color: #ddd;}
  
  #bookingsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }